@font-face {
    font-family: batik;
    src: url("../font/Batik-Worldwide.otf");
}

@font-face{
    font-family: jost;
    src: url('../font/Jost-Regular.ttf');
}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

body {
    background-color: hsl(0, 0, 96);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.batik-pattern {
    position: absolute;
    transform: translate(90%);
    object-fit: cover;
    filter: blur(20px);
    shape-rendering: geometricPrecision;
}

#upper{
    font-family: 'jost';
    font-size: 62px;
    color: hsl(200, 19%, 18%);
}

#lower{
    background: linear-gradient(-45deg, hsl(5, 100%, 67%), hsl(200, 19%, 18%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 157px;
    font-family: 'batik';
    font-weight: 5;
    margin-top: -20px;
}

.tagline{
    position: absolute;
    left: 5%;
    text-align: left;
    margin: 2rem;
}