@font-face {
    font-family: batik;
    src: url("../font/Batik-Worldwide.otf");
}

@font-face {
    font-family: jost;
    src: url('../font/Jost-Regular.ttf');
}

@font-face{
    font-family: jost-medium;
    src: url('../font/Jost-Medium.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

body {
    background-color: hsl(0, 0, 96);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.batik-pattern {
    position: absolute;
    transform: translate(90%);
    object-fit: cover;
    filter: blur(20px);
    shape-rendering: geometricPrecision;
}

#upper {
    font-family: 'jost';
    font-size: 62px;
    color: hsl(200, 19%, 18%);
}

#lower {
    background: linear-gradient(-45deg, hsl(5, 100%, 67%), hsl(200, 19%, 18%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 157px;
    font-family: 'batik';
    font-weight: 5;
    margin-top: -20px;
}

.tagline {
    position: absolute;
    top: 28%;
    left: 8%;
    text-align: left;
    margin: 2rem;
}

#tgpattern {
    position: absolute;
    left:95%;
    top: 75%;
}

.container img {
    position: relative;
    width: 55px;
    align-items: center;
}

.title {
    position: absolute;
    top: 40px;
    left: 20px;
    display: flex;
    align-items: center;
}

.title span {
    position: relative;
    font-family: 'jost-medium';
    font-size: 32px;
    text-align: center;
    left: -65px;
    background: linear-gradient(45deg, hsl(20, 66%, 69%), hsl(0, 93%, 69%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo-container {
    display: flex;
    align-items: center;
    position: relative;
    filter: drop-shadow(0px 0px 4px black);
}

.trail {
    margin-left: -35%;
    margin-right: -15%;
    height: 95px;
    width: 95px;
    background-color: hsl(21, 100%, 85%);
}

.container {
    display: flex;
    flex-direction: column;
    height: 95px;
    width: 95px;
    background-color: hsl(21, 100%, 85%);
    border-radius: 30%;
    justify-content: center;
    align-items: center;
}
