<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talenta Cendekia</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <span class="batik-pattern">
        <img src="{% static 'images/background/batikVector.svg' %}" alt="Batik Pattern" id="batik">
    </span>
    <div class="tagline">
        <div id="upper">Bersatu Dengan</div>
        <div id="lower">Ambisi</div>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
