body {
    background-color: hsl(0, 0, 96);
    background-size: cover;
    background-attachment: fixed;
    background-position: top; /* Ensure the background is positioned at the top */
    background-repeat: no-repeat;
    color: white;
    height: 100vh; /* Ensures full height */
    margin: 0;
    padding: 0;
    position: relative; /* Required for absolute positioning of child elements */
}

.batik-pattern {
    position: absolute;
    right: 20px; /* Adjust as needed for spacing from the right */
    top: 50%;
    transform: translateY(-50%); /* Centers the element vertically */
}
